  body{line-height:1.7;color:#666;font-size:14px;font-family:'Open Sans',sans-serif;background-color:#fff}
        section{position:relative}
        .display-table-parent{height:100%;left:0;position:absolute;top:0;width:100%}
        .display-table{display:table;height:100%;position:relative;width:100%;z-index:1}
        .display-table-cell{display:table-cell;height:100%;vertical-align:middle}
        .scrollToTop{background:rgba(0,0,0,.1);bottom:15px;display:none;height:50px;padding:2px;position:fixed;right:15px;text-align:center;text-decoration:none;width:50px;z-index:99999}
        .scrollToTop i{color:#fff;font-size:42px}
        .scrollToTop:hover{background:rgba(0,0,0,.6);text-decoration:none}
        .heading-border{border-bottom:1px solid #d3d3d3;margin:30px 0;padding:20px 0}
        .fc-day-number{color:#333}
        .fc-day-number.fc-other-month{opacity:.4}
        .scrolltofixed-container{position:static}
        @media only screen and (max-width:767px){.scrolltofixed-container .scrolltofixed{position:static!important}
        .scrolltofixed-container .scrolltofixed+div{display:none!important}}
        .home-boxes .bg-icon{bottom:0;color:#fff;font-size:58px;line-height:1;opacity:.3;position:absolute;right:0;transform:rotate(-40deg)}
        .mfp-close-btn-in .mfp-close{color:#fff;font-size:48px}
        .floating{-webkit-animation-name:Floatingx;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-moz-animation-name:Floating;-moz-animation-duration:3s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out}
        @-webkit-keyframes Floatingx{from{-webkit-transform:translate(0,0)}
        65%{-webkit-transform:translate(0,15px)}to{-webkit-transform:translate(0,0)}}
        @-moz-keyframes Floating{from{-moz-transform:translate(0,0)}
        65%{-moz-transform:translate(0,15px)}
        to{-moz-transform:translate(0,0)}}
        .scaling{float:left;-webkit-animation-name:scalex;-webkit-animation-duration:3s;-webkit-animation-iteration-count:infinite;-webkit-animation-timing-function:ease-in-out;-moz-animation-name:scale;-moz-animation-duration:3s;-moz-animation-iteration-count:infinite;-moz-animation-timing-function:ease-in-out}
        @-webkit-keyframes scalex{from{-webkit-transform:scale(.9)}
        65%{-webkit-transform:scale(1)}
        to{-webkit-transform:scale(.9)}}
        @-moz-keyframes scale{from{-moz-transform:scale(.9)}
        65%{-moz-transform:scale(1)}to{-moz-transform:scale(.9)}}
      
